<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!-- Primary Meta Tags -->
    <title>&#128126; &#128567; &#128640; Stay The (F***) Home & Learn</title>
    <meta name="title" content="&#128126; &#128567; &#128640; Stay (The F***) Home & Learn">
    <meta name="description"
          content="{{ meta_content }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stayhomeandlearn.org/">
    <meta property="og:title" content="Stay (The F***) Home & Learn">
    <meta property="og:description"
          content="{{ meta_content }}">
    <meta property="og:image" content="https://stayhomeandlearn.org/assets/meta-img.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://stayhomeandlearn.org">
    <meta property="twitter:title" content="Stay (The F***) Home & Learn">
    <meta property="twitter:description"
          content="{{ meta_content }}">
    <meta property="twitter:image" content="https://stayhomeandlearn.org/assets/meta-img.jpg">

    <meta name="keywords"
          content="Free Resources, COVID-19, Coronavirus, Discounts, stay home and learn, stayhomeandlearn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Open+Sans+Condensed:wght@700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header id="header">
    <div class="container">
        <p id="emoji-covid19">&#128126; &#128567; &#128640;</p>
        <h1 class="text-center pb-1 font-weight-bold d-sm-block d-none">
            Stay (The F***) Home & Learn
        </h1>
        <h1 class="text-center pb-1 font-weight-bold d-block d-sm-none">
            Stay (The F***) Home<br> & <br>Learn
        </h1>
        <hr>
        <p class="pt-2">
            <b>COVID-19 continues disrupting lives.</b> Some are going through severe health situations. Others have
            lost their jobs. And by now, many of us are quarantined in our homes.
            <br><br>
            Life may feel tough now, but don't despair. This can be a time to learn new things, get better at your craft
            or enjoy (virtual) time with friends and family.
            <br><br>
            <b>This page is a list of high-quality resources available for free or cheaper than usual due to the
                COVID-19.</b>
            <br><br>
            If you like them, use them or share them with others. If you know of something that is not here, <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSf6qLcvJGWS3VltKV99sO0KhBxmWxb0sdIpVu93OolL42s7rQ/viewform?usp=sf_link">please
            let me know</a>.
        </p>
    </div>
</header>

<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span class="badge badge-pill new">NEW</span>
        <a href="https://stayhomeandlearn.substack.com/welcome"
           onclick="fathom('trackGoal', 'FMUHLQXD', 0);" class="alert-link">Get a weekly email with the
            latest resources!</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<section class="text-center " id="last-updated">
    <p><b>Last Updated:</b> {{ last_update }}</p>
</section>

<div class="container pb-3 pt-4">
    <nav class="nav nav-pills flex-column flex-sm-row nav-justified" id="pills-tab" role="tablist">
        <a class="flex-sm-fill text-sm-center nav-link active" id="pills-learning_resources-tab" data-toggle="pill"
           href="#pills-learning_resources" onclick="fathom('trackGoal', '17LH3HPL', 0);"
           role="tab" aria-controls="pills-learning-resources" aria-selected="true">&#128218; Learning Resources</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="pills-productivity-tab" data-toggle="pill"
           href="#pills-productivity" onclick="fathom('trackGoal', 'AV9ABIEO', 0);"
           role="tab" aria-controls="pills-productivity" aria-selected="false">&#128187; Productivity</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="pills-health-tab" data-toggle="pill"
           href="#pills-health" onclick="fathom('trackGoal', 'MGHHZ4Z6', 0);"
           role="tab" aria-controls="pills-health" aria-selected="false">&#x1F3CB; Health & Fitness</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="pills-entertainment-tab" data-toggle="pill"
           href="#pills-entertainment" onclick="fathom('trackGoal', 'RGBMYPGQ', 0);"
           role="tab" aria-controls="pills-entertainment" aria-selected="false">&#x1F579; Entertainment</a>
    </nav>
</div>

<div class="tab-content" id="pills-tabContent">
    {% for ls in lists %}
    <div class="tab-pane fade show {% if ls[0] == 'learning_resources' %} active {% endif %}" id="pills-{{ ls[0] }}"
         role="tabpanel"
         aria-labelledby="pills-{{ ls[0] }}-tab">
        <div class="container">
            <ul class="list-group">
                {% for row in ls[2] %}
                <a href="{{ row['source'] }}" target="_blank" rel="noopener noreferrer"
                   class="list-group-item list-group-item-action">
                    {% if row["status"] == "new" %} <span class="badge badge-pill new mb-1">NEW</span> {% endif %}
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1 description">{{ row["description"] }}</p>
                        <!--                <small class="d-sm-block d-none">3 days ago</small> -->
                    </div>
                    <p class="mb-1 provider">{{ row["provider"] }}</p>
                    <small>{{ row["notes"] }}</small>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
<footer class="pt-4">
    <div class="container">
        <div class="text-center">
            <p>
                <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSf6qLcvJGWS3VltKV99sO0KhBxmWxb0sdIpVu93OolL42s7rQ/viewform?usp=sf_link"
                >
                    Suggest a New Resource
                </a>
                |
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfd4IFQ0xgFnbF04EvPjsN5fuwOj95v1rN6X2ftpu3drTXOiQ/viewform?usp=sf_link">
                    Submit Feedback</a>
            </p>
        </div>
        <div class="text-center pt-2 pb-4">
            <a id="made-text" href="https://dylancastillo.co/">Made with &#128567; by Dylan</a>
        </div>
    </div>
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
        (function (f, a, t, h, o, m) {
            a[h] = a[h] || function () {
                (a[h].q = a[h].q || []).push(arguments)
            };
            o = f.createElement('script'),
                m = f.getElementsByTagName('script')[0];
            o.async = 1;
            o.src = t;
            o.id = 'fathom-script';
            m.parentNode.insertBefore(o, m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'PFONKUML');
        fathom('trackPageview');


    </script>
    <!-- / Fathom -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>
