<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!-- Primary Meta Tags -->
    <title>&#128126; &#128567; &#128640; Stay The (F***) Home & Learn</title>
    <meta name="title" content="&#128126; &#128567; &#128640; Stay (The F***) Home & Learn">
    <meta name="description"
          content="{{ meta_content }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stayhomeandlearn.org/">
    <meta property="og:title" content="Stay (The F***) Home & Learn">
    <meta property="og:description"
          content="{{ meta_content }}">
    <meta property="og:image" content="https://stayhomeandlearn.org/assets/meta-img.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://stayhomeandlearn.org">
    <meta property="twitter:title" content="Stay (The F***) Home & Learn">
    <meta property="twitter:description"
          content="{{ meta_content }}">
    <meta property="twitter:image" content="https://stayhomeandlearn.org/assets/meta-img.jpg">

    <meta name="keywords" content="Free Resources, COVID-19, Coronavirus, Discounts, stay home and learn, stayhomeandlearn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Open+Sans+Condensed:wght@700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header id="header">
    <div class="container">
        <p id="emoji-covid19">&#128126; &#128567; &#128640;</p>
        <h1 class="text-center pb-1 font-weight-bold d-sm-block d-none">
            Stay (The F***) Home & Learn
        </h1>
        <h1 class="text-center pb-1 font-weight-bold d-block d-sm-none">
            Stay (The F***) Home<br> & <br>Learn
        </h1>
        <hr>
        <p class="pt-2">
            <b>COVID-19 continues disrupting lives.</b> Some are going through severe health situations. Others have
            lost their jobs. And by now, many of us are quarantined in our homes.
            <br><br>
            Life may feel tough now, but don't despair. This can be a time to learn new things, get better at your craft
            or enjoy (virtual) time with friends and family.
            <br><br>
            <b>This page is a list of high-quality resources available for free or cheaper than usual due to the
                COVID-19:</b>
            <a href="#learning_resources"> Learning Resources</a>,
            <a href="#health"> Health & Fitness</a>,
            <a href="#productivity"> Productivity</a>, and
            <a href="#entertainment"> Entertainment</a>.
            <br><br>
            If you like them, use them or share them with others. If you know of something that is not here, <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSf6qLcvJGWS3VltKV99sO0KhBxmWxb0sdIpVu93OolL42s7rQ/viewform?usp=sf_link">please
            let me know</a>.
        </p>
    </div>
</header>

<section class="text-center " id="last-updated">
    <p><b>Last Updated:</b> {{ last_update }}</p>
</section>

{% for ls in lists %}
<section class="list">
    <div class="container py-4" id="{{ ls[0] }}">
        <h2>{{ ls[1] }}</h2>
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead>
                <tr>
                    <th scope="col">Provider</th>
                    <th scope="col">Description</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Source</th>
                </tr>
                </thead>
                <tbody>
                {% for row in ls[2] %}
                <tr {% if row["status"] == "new" %} class="table-warning" {% elif row["status"] == "ptm" %} class="table-success" {% endif %}>
                <td {% if row["status"] == "new" %} class="new" {% elif row["status"] == "ptm" %} class="sg" {% endif %}>{{ row["provider"] }}</td>
                <td>{{ row["description"] }}</td>
                <td>{{ row["notes"] }}</td>
                <td><a href="{{ row['source'] }}" target="_blank" rel="noopener noreferrer">[link]</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endfor %}

<footer>
    <div class="container">
        <div class="text-center">
            <p>
                <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSf6qLcvJGWS3VltKV99sO0KhBxmWxb0sdIpVu93OolL42s7rQ/viewform?usp=sf_link"
                >
                    Suggest a New Resource
                </a>
                |
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfd4IFQ0xgFnbF04EvPjsN5fuwOj95v1rN6X2ftpu3drTXOiQ/viewform?usp=sf_link">
                    Submit Feedback</a>
            </p>
        </div>
        <div class="text-center py-4">
            <a id="made-text" href="https://dylancastillo.co/">Made with &#128567; by Dylan</a>
        </div>
    </div>
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
        (function (f, a, t, h, o, m) {
            a[h] = a[h] || function () {
                (a[h].q = a[h].q || []).push(arguments)
            };
            o = f.createElement('script'),
                m = f.getElementsByTagName('script')[0];
            o.async = 1;
            o.src = t;
            o.id = 'fathom-script';
            m.parentNode.insertBefore(o, m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'PFONKUML');
        fathom('trackPageview');


    </script>
    <!-- / Fathom -->
</footer>
</body>
</html>
