<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!-- Primary Meta Tags -->
    <title>&#128126; &#128567; &#128640; Stay The (F***) Home & Learn</title>
    <meta name="title" content="&#128126; &#128567; &#128640; Stay (The F***) Home & Learn">
    <meta name="description"
          content="A list of self-improvement resources available for free or at discounted prices due to the COVID-1">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stayhomeandlearn.org/">
    <meta property="og:title" content="Stay (The F***) Home & Learn">
    <meta property="og:description"
          content="A list of self-improvement resources available for free or at discounted prices due to the COVID-1">
    <meta property="og:image" content="https://stayhomeandlearn.org/assets/meta-img.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://stayhomeandlearn.org">
    <meta property="twitter:title" content="Stay (The F***) Home & Learn">
    <meta property="twitter:description"
          content="A list of self-improvement resources available for free or at discounted prices due to the COVID-1">
    <meta property="twitter:image" content="https://stayhomeandlearn.org/assets/meta-img.jpg">

    <meta name="keywords" content="Free Resources, COVID, Coronavirus, Discounts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Open+Sans+Condensed:wght@700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header id="header">
    <div class="container">
        <p id="emoji-covid19">&#128126; &#128567; &#128640;</p>
        <h1 class="text-center pb-1 font-weight-bold d-sm-block d-none">
            Stay (The F***) Home & Learn
        </h1>
        <h1 class="text-center pb-1 font-weight-bold d-block d-sm-none">
            Stay (The F***) Home <br> & <br>Learn
        </h1>
        <hr>
        <p class="pt-2">
            {{ intro_text }}
        </p>
    </div>
</header>
{% for ls in lists %}
<section class="list">
    <div class="container py-4">
        <h2>{{ ls[0] }}</h2>
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead>
                <tr>
                    <th scope="col">Provider</th>
                    <th scope="col">Description</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Source</th>
                </tr>
                </thead>
                <tbody>
                {% for row in ls[1] %}
                <tr>
                    <td>{{ row["provider"] }}</td>
                    <td>{{ row["description"] }}</td>
                    <td>{{ row["notes"] }}</td>
                    <td><a href="{{ row['source'] }}">[link]</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endfor %}

<footer>
    <div class="container">
        <div class="text-center">
            <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSf6qLcvJGWS3VltKV99sO0KhBxmWxb0sdIpVu93OolL42s7rQ/viewform?usp=sf_link"
            >
                Suggest a New Resource
            </a>
        </div>
        <div class="text-center py-4">
            <a id="made-text" href="https://dylancastillo.co/">Made with &#128567; by Dylan</a>
        </div>
    </div>
</footer>
</body>
</html>
